
doctype html
html(lang='en')
  include ../layout.pug
  block styles
    link(rel="stylesheet" type="text/css" href="/style.css")  
h1 #{story.endStory}


<iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fkoala-madlibs.herokuapp.com&layout=button&size=large&width=77&height=28&appId" width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="This app is brilliant" data-url="https://koala-madlibs.herokuapp.com" data-hashtags="madlibs" data-lang="en" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
