doctype html
html(lang='en')
  block styles
    link(rel="stylesheet" type="text/css" href="/style.css")  
body
  h1 create a story
  form(class='new_story_form',action='/stories/new', method='POST')
    p

      | title :
      textarea(id='title_text',type='text', name='title', placeholder="please input a title", required )
      |       content :
      textarea(id='content_text',type='text', name='content',cols='30',rows='20', placeholder="I am a template i have [noun1], [noun2] but should never be the same", required )
    
    input(class='submit_story_button',type='submit', value='Submit')
