doctype html
html(lang='en')
  block styles
    link(rel="stylesheet" type="text/css" href="/style.css")  
body
  form(action='/stories/new', method='POST')
    p
      | title:
      input(type='text', name='title', value='')
      |          content:
      input(type='text', name='content', value='')
    input(type='submit', value='Submit')
