
body {
  background: #D5BBB1;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #19151c
}


h1{
  text-align: center;
    color: #19151c
}

body {
  text-align: center;
}


table-wrapper {
  display: flex;
  text-align: center;

}
desc {
  width: 5em;
  border-collapse: collapse;
  text-align: center;
}
tr {

    text-align: center;

    padding: 1em;
  }
td {
  text-align: center;
}
textarea {
  /* box-sizing: padding-box; */
  overflow:hidden;
  /* demo only: */
  padding:10px;
  width:250px;
  font-size:14px;
  margin:50px auto;
  display:block;
  border-radius:10px;
  border:6px solid #556677;
}

.submit_story_button {
  background-color: rgb(255, 255, 255); /* Green */
  border: none;
  border-radius: 25px;
  color: rgb(5, 5, 5);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

p.endstory {
  padding:10px;
  width:250px;
  font-size:14px;
  margin:50px auto;
  display:block;
  border-radius:10px;
  border:6px solid #556677;
  background-color: white;
  text-align: left;
  text-orientation: sideways;
  text-rendering: geometricPrecision;
  writing-mode: horizontal-tb;
}