
body {
  background: #D5BBB1;
  font-size: 20px;
  text-align: center;
  color: #19151c;
}


h1{
  text-align: center;
    color: #19151c
}

body {
  text-align: center;
}


table-wrapper {
  display: flex;
  text-align: center;

}
desc {
  width: 5em;
  border-collapse: collapse;
  text-align: center;
}
tr {

    text-align: center;

    padding: 1em;
  }
td {
  text-align: center;
}
textarea {
  /* box-sizing: padding-box; */
  overflow:hidden;
  /* demo only: */
  padding:10px;
  width:250px;
  font-size:14px;
  margin:10px auto;
  display:block;
  border-radius:10px;
  border:6px solid #556677;
}

.submit_story_button {
  color: black;
  padding: 10px 25px;
  font-size: 1.1em;
  width:280px;
  box-shadow: 3px 4px grey;
  border:0.5px solid grey;
  /*background-color: rgb(255, 255, 255); /* Green */
  /*border: none;
  border-radius: 25px;
  color: rgb(5, 5, 5);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;*/
}

#create_submit {
  margin-top: 20px;
}
.submit_story_button:hover{
  background-color: white;

}
ul {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

ul a {
  display: inline-block;
  width: 20%;
  margin: 10px;
  padding: 5px;
}

form {
width: 100vw;
margin: 0 auto;
display:flex;
text-align: left;
flex-direction: column;
justify-content: center;
align-items: center;

}

form input[type=submit]{
  margin-top: 50px;
  font-size: 1.1em;
  width: 20vw;
  color: black;
  padding: 10px 0px;
  box-shadow: 2px 2px grey;
  border:0.5px solid grey;
  text-align: center;
  text-decoration: underline;
  background-color: inherit;
}

form input[type=submit]:hover {
  text-decoration: none;
  background-color: white;
}


form a {
  width: 20vw;
}

.fields {
  width: 40vw;
  margin-top: 5vh;
  margin-left: 20vw;
}

.field {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
}

.fields label {
  align-self: flex-start;
}

p.endstory {
  padding: 10px;
  width: 250px;
  font-size:14px;
  margin: 50px auto;
  display: block;
  border-radius: 10px;
  border: 6px solid #556677;
  background-color: white;
  text-align: left;
  text-orientation: sideways;
  text-rendering: geometricPrecision;
  writing-mode: horizontal-tb;
}

.share {
  position: fixed; 
  padding: 20px; 
  right: 20%;
  top: 10%;
}
.share iframe {
  margin-bottom: 10px;
}

.clear {
  margin-top: 10px;
}