doctype html
html(lang='en')
  block styles
    link(rel="stylesheet" type="text/css" href="/style2.css") 
head
    h2 Koala madlibs
body

   
 div(class ='instructions')
  
    p
    br
    .
     Mad Lib is an interactive story that you add words to.
    br
    .
     When prompted, you insert a specific type of word into the form
    br
    .
     Once all your words are added, the story is ready.
    br
    .
     The end story is (hopefully) quite funny.
    br
    .
     Click here to play with a range of stories 
    br
    a(href='/stories', class="menu") Play 
    br
    .  
     You can also write your own stories and share with your friends!  
    br
    a(href='/stories/new') Create
    
          
#footer
<div id="footer">
<p>&copy; Untitled. All rights reserved. Design by <a href="https://koala-madlibs.herokuapp.com/" rel="nofollow">Koala</a>.</p>
</div>


